@import url("/voult/VaultContainer/voultcontainer.css");
@import url("/voult/CardList/Cardlist.css");
@import url("/voult/Card/card.css");
@import url("/voult/CardList/BotonMore/botonMore.css");
@import url("/voult/Form/form.css");
@import url("/voult/newCard/style.css");
@import url("/voult/newCard/RadiosButonsColor/radios.css");
@import url("/voult/newCard/InputCardName/style.css");

#luka-voult {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
