.luka-vault-container {
  max-width: 959px;
  width: 100%;
  height: 285px;
  background-color: rgba(235, 239, 246, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.vault-container-mesage {
  margin-top: 22px;
  padding: 0px 22px;
  transition: all 0.5s;
}

.luka-vault-list-form {
  transition: all 0.5s;
  width: 100%;
  max-width: 959px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: solid 1px #cfd4d9;
  border-radius: 8px;
}
